#live-users-wrapper, #chat-wrapper, #chat-username-wrapper{

	border: 1px groove #4169e1;
}

.display-recent-chat{

	min-height:200px;
	
	margin-top:20px;
}

.display-class{

	display:block;
}

.display-none-class{

	display:none;
}

